/* Use a Flexbox to make the Palette/Overview/Diagram responsive and size things relatively */

#myFlexDiv {
  display: flex;
  width: 100%;
  height: 1000px;
  /* HEIGHT here associates with #myOverviewDiv{top}*/
}

#myPODiv {
  display: flex;
}

#myPaletteDiv{
  background-color: floralwhite; border: solid 1px black
}

#myDiagramDiv{
  background-color: white; border: solid 1px black
}

#myOverviewDiv {
  position: absolute;
  right: 228px;
  top: 62px;
  width: 200px;
  height: 150px;
  background-color: rgba(238, 214, 218, 0.35);
  z-index: 300;
  border: solid 1px dodgerblue;
}

#rightSide {
  display: flex;
  width: 200px;
  /*height: 800px;*/
  margin-left: 2px;
  background-color: whitesmoke;
}

.draggable {
  position: absolute;
  bottom: 4px;
  width: 198px;
  vertical-align: top;
  border: 1px solid #BBB;
  border-radius: 4px;
  background-color: #F5F5F5;
  z-index: 8;
  cursor: move;
}

.handle {
  background-color: lightblue;
  width: 190px;
  height: fit-content;
  text-align: center;
  margin: 3px 4px;
  z-index: 9;
  font: bold 12px sans-serif;
  /*cursor: move;*/
}

@media (min-width: 768px) {
  #myFlexDiv {
    flex-flow: row;
    float: left;
  }

  #myPODiv {
    width: 105px;
    height: 100%;
    margin-right: 3px;
    flex-flow: column;
  }

  #myPaletteDiv {
    height: 100%;
  }

  #myDiagramDiv {
    flex: 1;
    float: left;
  }
}

@media (max-width: 747px) {
  #myFlexDiv {
    flex-flow: column;
    align-items: center;
    float: left;
  }

  #myPODiv {
    width: 90%;
    height: 105px;
    margin-bottom: 3px;
    flex-flow: row;
  }

  #myPaletteDiv {
    width: 75%;
  }

  #myDiagramDiv {
    width: 89%;
    flex: 1;
    float: left;
  }

  #rightSide {
    width: 220px;
    height: 800px;
    margin-left: 2px;
  }

}

#header{
  background-color: #FFCCCC; width: 100%; height: 50px;
}
.nav{
  background-color: lightblue;
  height: 25px;
}
div.navSide{
  height: 30px;
  background-color: #BBB;
  font: "bold 12pt Consolas,Time New Roman";
  text-align: center;
  border: solid 1px #333;
  padding: 2px 0px;
  vertical-align: center;
}

div.navButton{
  float: right;
  height: inherit;
  color: black;
}

button{
  height: 26px;
  background-color: #BBB;
  color: black;
  border-color: #BBB;
}

.title{
  background-color: black; width: 106px; height: 35px;
  font: "bold 9pt Consolas";
  font-weight: 2;
  color: #B1B1B1;
  text-align: center;
}
.rightMenu{
  float: left;
  width: 200px;
  background-color: khaki;
}
.displayArea{
  margin-top: 3px;
  width: 100%;
}
.area{
  margin: 0px 2px;
  float: left;
}

#Logo{
  margin-left: 4px; float:left; width:250px; height:50px; margin-bottom: 4px
}
