<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>UML Activity Diagram</title>
  <!-- <script src="../public/js/lib/require.js"></script> -->
  <script type="text/javascript" src="../public/js/lib/go.js"></script>
  <script type="text/javascript" src="../public/js/lib/go-debug.js"></script>
  <script type="text/javascript" src="../public/js/script/activityDeclaration.js"></script>
  <script type="text/javascript" src="../public/js/script/activityFunctions.js"></script>
  <script type="text/javascript" src="../public/js/script/svgToPng.js"></script>
  <script type="text/javascript" src="../public/js/script/buttonListener.js"></script>
  
  <script type="text/javascript" src="../public/js/script/activityDiagram.js"></script>
  <script type="text/javascript" src="../public/js/script/activityPalette.js"></script>
  <!-- <script type="text/javascript" src="../public/js/script/activityContextMenu.js"></script> -->
  <!-- <script type="text/javascript" src="../public/js/script/activityViews.js"></script> -->

  <script type="text/javascript" src="../public/js/script/fileManager.js"></script>

  <!-- 样式 -->
  <link rel="stylesheet" type="text/css" href="../public/css/pop-ups.css" />
  <link rel="stylesheet" type="text/css" href="../public/css/nav.css">
  <link rel="stylesheet" type="text/css" href="../public/css/jquery-ui.min.css" />

  <script type="text/javascript" src="../public/js/lib/jquery.min.js"></script>
  <script type="text/javascript" src="../public/js/script/nav.js"></script>
  <script type="text/javascript" src="../public/js/script/pop-ups.js"></script>
  <script type="text/javascript" src="../public/js/lib/jquery-ui.min.js"></script>
  <script type="text/javascript" src="../public/js/script/FileSaver.js"></script>

  <script type="text/javascript" src="../public/js/script/errorLogTable.js"></script>
  <script type="text/javascript" src="../public/js/script/errorChecking.js"></script>

  <!-- <script type="text/javascript" src="../public/js/script/jsonToxmi.js"></script> -->
  <!-- <script type="text/javascript" src="../public/js/script/xmiToJson.js"></script> -->

  <script type="text/javascript" src="../public/js/script/activityInit.js"></script>
</head>

<body onload="init()">
  <div class="nav">
    <div class="dropdown">
      <!--设置下拉框的按扭名称-->
      <a>File</a>
      <!--设置下拉框的内容-->
      <div class="dropdown-content">
        <a onclick="newDiagram()">New</a>
        <a onclick="readServerFileManager()">Open</a>
        <div style="border-bottom:1px solid #555555;"></div>
        <a onclick="importJsonFile()">Import</a>
        <a onclick="exportJsonFile()">Export</a>
        <a onclick="composeStructureModel()">Compose Models</a>
        <a>Setting</a>
        <div style="border-bottom:1px solid #555555;"></div>
        <a onclick="saveJsonFile()">Save to Server</a>
        <a>Exit</a>
      </div>
    </div>
    <div class="dropdown">
      <!--设置下拉框的按扭名称-->
      <a>Edit</a>
      <!--设置下拉框的内容-->
      <div class="dropdown-content">
        <a onclick="Undo()">Undo</a>
        <a onclick="Redo()">Redo</a>
        <div style="border-bottom:1px solid #555555;"></div>
        <a onclick="cutElements()">Cut</a>
        <a onclick="copyElements()">Copy</a>
        <a onclick="pasteElements()">Paste</a>
        <a onclick="deleteElements()">Delete</a>
      </div>
    </div>
    <div class="dropdown">
      <!--设置下拉框的按扭名称-->
      <a>Tool</a>
      <!--设置下拉框的内容-->
      <div class="dropdown-content">
        <a onclick="lockElements()">Lock</a>
        <a onclick="unlockElements()">Unlock</a>
        <a onclick="showVersionNo()">VersionNumber</a>
        <div style="border-bottom:1px solid #555555;"></div>
        <a onclick="showMapButton()">Map</a>
        <a onclick="myDiagramZoomToFit()">OverView</a>
        <div style="border-bottom:1px solid #555555;"></div>
        <a onclick="experiment()">Experiment</a>
      </div>
    </div>
    <div class="dropdown">
      <!--设置下拉框的按扭名称-->
      <a>Help</a>
      <!--设置下拉框的内容-->
      <div class="dropdown-content">
        <a>Help</a>
        <a>About</a>
        <div style="border-bottom:1px solid #555555;"></div>
        <a>Contact support</a>
        <div style="border-bottom:1px solid #555555;"></div>
        <a onclick="caseStudy()">Case study</a>
      </div>
    </div>

    <!-- 按钮 -->
    <div class="ButtonsTop">
      <button id="btn_save" onclick="save()">Save</button>
      <button id="btn_load" onclick="load()">Load</button>
      <button id="btn_check" onclick="errorChecking()">Check</button>
    </div>
  </div>

  <!-- 工具条 -->
  <div id="toolBar">
    <div id="toolBar1">
      <div class="toolBarSelect"> <span>Font</span>
        <select name="font">
          <option>Arial Black</option>
          <option>New York</option>
          <option>sans-serif</option>
        </select>
      </div>
      <div class="toolBarSelect"> <span>Font-size</span>
        <select name="font">
          <option>12px</option>
          <option>14px</option>
          <option>16px</option>
          <option>18px</option>
          <option>20px</option>
        </select>
      </div>
      <div class="toolBarSelect"> <span>Fill</span>
        <select class="fillColor" name="fill">
          <option style="background-color:#ff0000;color:#000000"></option>
          <option style="background-color:#12ff02;color:#000000"></option>
          <option style="background-color:#0019ff;color:#000000"></option>
        </select>
      </div>
      
      <div class="toolBarSelect"> <span>Lines</span>  <!-- 显示失败 -->
        <select class="linesColor" name="lines">
          <option id="line1" class="line"></option>
          <option id="line2" class="line"></option>
          <option id="line3" class="line"></option>
          <option id="line4" class="line"></option>
        </select>
      </div>      
    </div>

    <div id="toolBar2">
      <div class="toolBarIcon"> <img src="../public/src/images/toolBarIcon/openFile.png" onclick="readServerFileManager()" title="Open File"> </div>
      <input type="file" id="importFile" style="display: none;" onchange="uploadJson(this)" />
      <div class="toolBarIcon"> <img src="../public/src/images/toolBarIcon/save.png" onclick="saveJsonFile()" title="Save to Server"> </div>
      <div class="toolBarIcon"> <img src="../public/src/images/toolBarIcon/upload.png" onclick="importJsonFile()" title="Import"> </div>
      <div class="toolBarIcon"> <img src="../public/src/images/toolBarIcon/download.png" onclick="exportJsonFile()" title="Export"> </div>
      <div class="toolBarIcon"> <img src="../public/src/images/toolBarIcon/zoomIn.png" title="Zoom In"> </div>
      <div class="toolBarIcon"> <img src="../public/src/images/toolBarIcon/zoomOut.png" title="Zoom Out"> </div>
      <div class="toolBarIcon"> <img src="../public/src/images/toolBarIcon/undo.png" onclick="Undo()" title="Undo"> </div>
      <div class="toolBarIcon"> <img src="../public/src/images/toolBarIcon/recover.png" onclick="Redo()" title="Redo"> </div>
      <div class="toolBarIcon"> <img src="../public/src/images/toolBarIcon/shear.png" onclick="cutElements()" title="Cut"> </div>
      <div class="toolBarIcon"> <img src="../public/src/images/toolBarIcon/copy.png" onclick="copyElements()" title="Copy"> </div>
      <div class="toolBarIcon"> <img src="../public/src/images/toolBarIcon/paste.png" onclick="pasteElements()" title="Paste"> </div>
    </div>                                                             
                                                                       
    <div id="toolBar3">
      <div class="toolBarIcon"> <img src="../public/src/images/toolBarIcon/lock.png" onclick="lockElements()" title="Lock"> </div>
      <div class="toolBarIcon"> <img src="../public/src/images/toolBarIcon/unlock.png" onclick="unlockElements()" title="Unlock"> </div>
      <div class="toolBarIcon"> <img src="../public/src/images/toolBarIcon/panorama.png" onclick="myDiagramZoomToFit()" title="Zoom to Fit"> </div>
      <div class="toolBarIcon"> <img src="../public/src/images/toolBarIcon/composeModel.png" onclick="composeStructureModel()" title="Compose Structure Models"> </div>
      <div class="toolBarIcon"> <img src="../public/src/images/toolBarIcon/printscreen.png" onclick="printImage()" title="Printscreen"> </div>
      <input type="file" id="composeStructureModel" style="display: none;" onchange="composeJson(this)" accept=".json" multiple="multiple"/>
    </div>
  </div>

  <!-- 主要视图区 -->
  <div style="width: 100%; height: 915px; display: flex; justify-content: space-between; border: 1px solid #000000;">
    <!-- 左侧工具栏 -->
    <div id="recoverButton">
      <a><img src="../public/src/images/leftNavIcon/jiantou1.png" class="recover" /></a>
    </div>
    <div id="FunctionDiv">
      <div id="box_palette">
        <div id="FunctionsList">
          <div class="cueText">Tool Box
            <a><img src="../public/src/images/leftNavIcon/jiantou4.png" class="delete" /></a>
          </div>
          <div id="myPaletteDiv" style="width: 123px; height: 883px;"></div>
        </div>
      </div>
    </div>

    <!-- 鹰眼视图 -->
    <div id="myOverviewDiv" class="myOverviewDiv"></div> 
    <input type="button" id="btn_map" value="map">

    <div id="myDiagramDiv"></div>
    <!-- 活动子图导出区域 -->
    <div id="subDiagramDiv" style="display: none;"></div>

    <!-- info框 Start -->
    <div id="infoDraggable" class="draggable infoDraggable">
      <div id="infoDraggableHandle" class="handle"><span></span></div>
      <div style="width: 259px;">
        <div id="myInfo"></div>
      </div>
    </div>
    <!-- info框 End -->

    <!-- 服务端读文件框 Start -->
    <div id="readServerFileDraggable" class="draggable infoDraggable">
      <div id="readServerFileDraggableHandle" class="handle"><span>文件</span></div>
      <table class="readServerFileTable">
        <tbody id="readServerFileTbody"></tbody>
      </table>
    </div>
    <!-- 服务端读文件框 End -->

    <!-- 右键操作 Start -->
    <ul id="contextMenu" class="menu">
      <li id="changeAnalysis" class="menu-item" onclick="cxcommand(event)">Change analysis</li>
      <li id="artifactAnalysis" class="menu-item" onclick="cxcommand(event)">Artifact analysis</li>
      <li id="versionAnalysis" class="menu-item" onclick="cxcommand(event)">Version analysis</li>
      <li id="otherAnalysis" class="menu-item" onclick="cxcommand(event)">Other analysis</li>
      <div style="border:1px solid #bcbcbc; height: 1px;"></div>
      <li id="lockCurrentNode" class="menu-item" onclick="cxcommand(event)">Inactivate</li>
      <li id="unlockCurrentNode" class="menu-item" onclick="cxcommand(event)">Activate</li>
      <li id="modifyNode" class="menu-item" onclick="cxcommand(event)">Modify</li>
      <li id="relocateNode" class="menu-item" onclick="cxcommand(event)">Relocate</li>
      <li id="mergeNode" class="menu-item" onclick="cxcommand(event)">Merge</li>
      <li id="decomposeNode" class="menu-item" onclick="cxcommand(event)">Decompose</li>
      <li id="replaceNode" class="menu-item">Replace
        <ul class="menu">
          <li id="replaceWithNewNode" class="menu-item" onclick="cxcommand(event)">NewNode</li>
          <li id="replaceWithExistingNode" class="menu-item" onclick="cxcommand(event)">ExistingNode</li>
        </ul>
      </li>
      <div style="border:1px solid #bcbcbc; height: 1px;"></div>
      <li id="cut" class="menu-item" onclick="cxcommand(event)">Cut</li>
      <li id="copy" class="menu-item" onclick="cxcommand(event)">Copy</li>
      <li id="paste" class="menu-item" onclick="cxcommand(event)">Paste</li>
      <li id="delete" class="menu-item" onclick="cxcommand(event)">Delete</li>
    </ul>
    <!-- 右键操作 End -->

    <!-- 右侧菜单栏 Start -->
    <div class="rightMenu">
      <div class="rightMenuInner">
        <div id="rightMenuCloseButton">
          <a><img src="../public/src/images/icon/close.gif" class="recover" /></a>
        </div>
        <div class="cueText">Activity Analysis</div>
        <div class="TreeWrap">
          <div class="MenuBoxClose" id="Menu_0">
            <div class="SearchElement">
              <input type="search" name="search" id="InputSearch" placeholder="输入节点名称">
              <button id="btn_search">搜索</div>
          </div>

          <div class="MenuBox titBox">
            <h3 class="Fst"><a href="javascript:showMenu(0);">Diagram Tree</a></h3>
          </div>
          <div class="txtBox">
            <ul id="changeImpactAnalysis">

              <div class="MenuBoxClose indentMenuBox" id="Menu_1">
                <div class="MenuBox titBox">
                  <h3 class="Fst"><a href="javascript:showMenu(1);">Nodes</a></h3>
                </div>
                <div class="txtBox">
                  <ul id="Nodes">
                  </ul>
                </div>
              </div>
              <!--MenuBox-->

              <div class="MenuBoxClose indentMenuBox" id="Menu_2">
                <div class="MenuBox titBox">
                  <h3 class="Lst"><a href="javascript:showMenu(2);">Links</a></h3>
                </div>
                <div class="txtBox">
                  <ul id="Links">
                  </ul>
                </div>
              </div>
              <!--MenuBox-->

            </ul>
          </div>
        </div>
        <!--MenuBox-->
      </div>
    </div>
  </div><!-- 右侧菜单栏 End -->

  <!-- 底部输出框 Start-->
  <div class="displayArea">
    <div class="display">
      <!-- close button -->
      <textarea id="mySavedModel" class="area">
      </textarea>
    </div>

    <div class="display">
      <!-- close button -->
      <table id='errorLogTbl' style="width: 965px; height: 300px;">
        <thead>
          <tr>
            <td colspan="1"></td>
            <td colspan="1">编号</td>
            <td colspan="128">描述</td>
            <!-- <td>位置</td> -->
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div><!-- 底部输出框 End-->

</body>

</html>